.dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
}

 .dash{
  text-align: center;
  background-color: blue;
  border-radius: 1vh;
  color: white;
 }



select,
input[type="text"] {
  padding: 8px;
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
}

.statistics-box {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.statistics-box div {
  background-color: #f4f4f4;
  padding: 10px;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.Price-range {
  text-align: center;
  color: white;
  background-color: blue;
  border-radius: 1vh;
}

.Statics-data h3 {
  text-align: center;
  color: white;
  background-color: blue;
  border-radius: 1vh;

}
.statics {
  background-color: burlywood;
  border-radius: 4px;
  /* display: "inline-block" */
  padding: 10px;
  width: 10%;

}

/* canvas {
  width: 50%;
  height: 100%;
} */